<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <system.diagnostics>
    <!--
      Off - 0 - None
      Error - 1 - Only error messages
      Warning - 2 - Warning messages and error messages
      Info - 3 - Informational messages, warning messages, and error messages
      Verbose - 4 - Verbose messages, informational messages, warning messages, error messages and code performance counters
    http://msdn.microsoft.com/en-us/library/system.diagnostics.traceswitch(v=vs.110).aspx
  -->
    <switches>
      <add name="Farfetch.OrderBatchProcessor.TraceSwitch" value="4" />
    </switches>
  </system.diagnostics>
</configuration>